.left-panel {
  width: 250px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left-panel .tab-button {
  background-color: transparent;
  color: var(--primary-font-color);
  border: none;
  padding: 5px;

  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.left-panel .tab-button:hover {
  background-color: var(--primary-highlight-color);
}

.left-panel .tab-button:focus {
  outline: none;
  background-color: var(--focus-color)
}