.page-title{
    background: linear-gradient(135deg, var(--primary-color), var(--primary-color-light));
    color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}
.simple-title{
    /* background: linear-gradient(135deg, var(--primary-color), var(--primary-color-light)); */
    color: var(--primary-color-light);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}